/* #pure {
    background-color: #ffffff;
} */
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0%;
    margin: 0%;
}
body {
    background-color: rgb(247, 244, 244);
}

.head {
    background-color: brown;
    color: white;
    width: 100%;
    height: 100px;
    padding: 20px 0px;
    text-align: center;
}

.flex{
    display: flex;
}

.container-recipe {
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    color: grey;
    padding: 20px;
    margin-left: 50px;
}

img {
    width: 100%;
    height: auto;
}

ul, ol {
    padding-left: 20px; 
}

a {
    text-decoration: none;
    color: grey;
}

